body {
    grid-template-columns: 1fr; 
    grid-template-areas:
        "logo"
        "navmovil"
        "filtros"
        "coches"
        "contacto"
        "footer";
    text-align: center;
}

.usuario, .iconos, .navprincipal {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

body ,h1,h2, h3,p,label, select, button {
    font-size: initial;
}
